* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.952);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url(../img/Fondoback.png);
}

header {
    display: flex;
    height: 85px;
    justify-content: space-between;
    background-color: #03588c;
    align-items: center;
    padding: 15px;
    color: #fff;
    width: 100%;
    position: relative;
}

footer {
    background-color: #03588c;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 180px;
    display: block;
    top: 789px;
    position: absolute;
    width: 100%;
}

.contacto {
    text-align: center;
    padding: 10px 20px;
}

.contacto p {
    margin: 0;
    text-align: center;
    line-height: 1.5em;
}

.imagenes-contacto {
    text-align: center;
    margin-top: -9px;
}

.imagenes-contacto a {
    display: inline-block;
    height: 10px;
}

.imagenes-contacto img {
    height: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 80px;
}

.container {
    max-width: auto !important;
    margin: 60px;
}

.container img {
    margin: 100px;
    color: rgb(247, 247, 247);
    background-color: #ffffff;
    font-size: 1em;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.logo_centro {
    display: flex;
    align-items: center;
}
.logo_centro img{
    background: #ffffff00;
    display: inline;
    width: 35%;
    margin-top: 20px;
}

header a {
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.container p {
    color: #000000;
}

h3 {
    text-align: center;
    margin-top: 0;
    height: 40px;
    max-height: 20px;
}


h4 {
    text-align: center;
    background-color: #03588c;
    height: 30px;
    margin: auto;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 3px solid #000000ad;
    box-shadow: 2px 2px 10px #000000;
    color: #ffffff;
    background-color: #1462a6;
    position: relative;
    left: 520px;
    top: -40px;
    cursor: pointer;
}

h2 {
    position: relative;
    left: 415px;
    top: -40px;
    display: inline-block;
    text-align: center;
}

