* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 100px auto 20px; /* Agregado margen inferior para evitar superposición */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    background: url(../img/Fondoback.png);
}

.header {
    display: flex;
    height: 100px;
    background-color: #03588c;
    align-items: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 999; /* Agregado z-index para estar por encima del contenido */
}

.header.scrolled {
    background-color: #03588c; /* Color de fondo deseado cuando el encabezado está fijo */
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .btn-menu,
.container .logo,
.container .menu {
    display: flex;
    align-items: center;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.container .logo img {
    height: 80px;
}

.container .logo h3 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

img {
    height: 60px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

h1 {
    width: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 5%; /* Agregado margen superior para centrar verticalmente */
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  th, td {
    padding: 9px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  th {
    background-color: #2196F3;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
    transition: transform 0.3s ease;
  }
  
  tr:hover {
    transform: scale(1.01); 
  }
 
  tr:hover td {
    background-color: rgba(255, 255, 255, 1);
    color: #1462a6;
  }
  

.button-section {
    background: #005f73;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 0px 14px 0px 14px;
    border: 2px solid #000;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}

.button-section:hover {
    background: #94d2bd;
    color: #000;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #005f73;
    cursor: pointer;
}

#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 12vh;
    top: 0;
    left: 0;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.lego {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.lego img {
    height: 100px;
}

.btn-menu h3 {
    text-align: left;
    display: flex;
}

.cont-menu {
    margin-top: 100px;
    background-color: #1462a6;
    width: 100%;
    max-width: 270px;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #000;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #fff;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.boton  {
    text-align: center;
    margin: auto;
    margin-top: 20vh; /* Cambiamos a unidades relativas (viewport height) */
    width: fit-content;
    height: 3vh; /* Cambiamos a unidades relativas (viewport height) */
}


button {
    display: inline-block; /* Cambiado a inline-block para ajustarse al contenido */
    margin: 10px; /* Reducido el margen para un diseño más compacto */
    padding: 15px 30px; /* Aumentado el espacio de relleno horizontal */
    text-align: center;
    font-size: 18px; /* Aumentado el tamaño de fuente */
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: #ffffff; /* Cambiado a texto blanco */
    background-color: #3366cc; /* Azul rey */
    border: none; /* Eliminado el borde */
    border-radius: 25px; /* Aumentado el radio de borde para hacerlo más redondeado */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Cambiado el sombreado */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color suave al pasar el cursor */
}

button:hover {
    background-color: #21448e; /* Cambio de color al pasar el cursor */
}
#informe{
    position: relative;
    bottom: 100%;
}
#generar-informe{
    position: relative;
    left: 44%;
}

.confirmation-message.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-message p {
    margin: 20px;
}

.confirmation-message h2 {
    margin: 0px;
}

.confirmation-buttons {
    display: flex;
    margin-top: 10px;
}

.confirmation-buttons button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.cancel-button {
    background-color: #e74c3c;
    color: #fff;
}

.accept-button {
    background-color: #2ecc71;
    color: #fff;
}

.confirmation-buttons button:hover {
    opacity: 0.8;
}

#chart-container {
    width: 200px;
    height: 100px;
    margin-left: 20px;
    /* Margen izquierdo para separar del texto anterior */
}

.date-section {
    position: absolute;
    left: 50%;
    height: 70px;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 10px;
    max-width: 850px;
    text-decoration: none;
    font-size: 20px;
}


@media (max-width: 576px) {
    .date-section {
        position: relative;
        left: auto;
        top: auto;
        transform: translateX(0);
        margin-top: 10px; /* Ajusta el margen superior según tu preferencia */
    }
}


@media (max-width: 768px) {
    
    body {
        margin-top: 70px;
    }

    h1 {
        width: auto;
        position: relative;
        left: 50%; /* Centrado horizontal */
        text-align: center;
        top: 5%;
        transform: translateX(-50%);
        color: rgb(0, 0, 0);
    }

    table {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .header {
        height: 80px;
    }

    .container .logo h3 {
        display: none;
    }

    .container .menu a {
        font-size: 13px;
    }
}
