@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cuadro {
    border: 1px solid #000;
    padding: 10px;
    background-color: #f0f0f0;
}

.video-container {
    position: relative;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .video-container:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  

header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #03588c;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    background: url(../img/Fondoback.png);
    background-color: rgba(255, 255, 255, 0.952);
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

.logo_centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 80px;
    position: static;
    color: #000000;
    text-align: center;
    background-color: transparent;
}

p {
    text-align: center;
}

h4 {
    font-size: auto;
    width: 700px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    font-weight: normal;
}

h2 {
    margin-top: 200px;
}

h3 {
    text-align: center;
    margin-top: 0;
    height: 40px;
    max-height: 20px;
}

/* Estilos para el encabezado */

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .btn-menu,
.container .logo,
.container .menu {
    display: flex;
    align-items: center;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.container .logo img {
    height: 80px;
}

.container .logo h3 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/* Menú lateral */
/* Estilos generales */
.btn-menu {
    display: none;
    margin-left: -20px;
}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 10%;
    top: 0;
    left: 0;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.lego {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lego img {
    height: 100px;
}

.btn-menu h3 {
    text-align: left;
    display: flex;
}

/* Estilos para menú en dispositivos de escritorio */
.cont-menu {
    background-color: #03588c;
    width: 140%;
    max-width: 270px;
    height: 1080%;
    position: relative;
    display: block;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(25%);
}

.cont-menu nav a {
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: #000;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #fff;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Fin de Menú lateral */
