* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body {
    margin: 100px auto 20px; /* Agregado margen inferior para evitar superposición */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    background: url(../img/Fondoback.png);
}

.header {
    display: flex;
    height: 100px;
    background-color: #03588c;
    align-items: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 999; /* Agregado z-index para estar por encima del contenido */
}
  
  .container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container .btn-menu,
  .container .logo,
  .container .menu {
    display: flex;
    align-items: center;
  }
  
  .container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }
  
  .container .logo img {
    height: 80px;
  }
  
  .container .logo h3 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
  }
  
  .container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
  }
  
  img {
    height: 60px;
  }
  
  .container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
  }
  
  h1 {
    text-align: center;
    margin: 0px;
  }

  .edit-button,
  .delete-button {
    padding: 4px 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  } 
  #btn-menu {
    display: none;
  }
  
  .container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 12vh;
    top: 0;
    left: 0;
    transition: all 00ms ease;
    opacity: 0;
    visibility: hidden;
  }
  
  #btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .lego {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lego img {
    height: 100px;
  }
  
  .btn-menu h3 {
    text-align: left;
    display: flex;
  }
  
  .cont-menu {
    margin-top: 100px;
    background-color: #1462a6;
    width: 102%;
    max-width: 270px;
    height: 120vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
  }
  
  #btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
  }
  
  .cont-menu nav {
    transform: translateY(15%);
  }
  
  .cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #000;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }
  
  .cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #fff;
  }
  
  .cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  #chart-container {
    width: 200px;
    height: 100px;
    margin-left: 20px;
    position: relative;
    display: flex;
    justify-content: left;
    left: 0;
  }

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

#miTabla {
  background-color: white;
}

