
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 100px auto 20px; /* Agregado margen inferior para evitar superposición */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    background: url(../img/Fondoback.png);
}

.header {
    display: flex;
    height: 100px;
    background-color: #03588c;
    align-items: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 999; /* Agregado z-index para estar por encima del contenido */
}

.container {
width: 90%;
max-width: 1400px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.container .btn-menu,
.container .logo,
.container .menu {
display: flex;
align-items: center;
}

.container .btn-menu label {
color: #fff;
font-size: 25px;
cursor: pointer;
}

.container .logo img {
height: 80px;
}

.container .logo h3 {
color: #fff;
font-weight: 400;
font-size: 22px;
margin-left: 10px;
}

.container .menu a {
display: inline-block;
padding: 15px;
line-height: normal;
text-decoration: none;
color: #fff;
transition: all 0.3s ease;
border-bottom: 2px solid transparent;
font-size: 15px;
margin-right: 5px;
}

img{
height: 60px;
}

.container .menu a:hover {
border-bottom: 2px solid #c7c7c7;
padding-bottom: 5px;
}

h1 {
text-align: center;
margin: 40px;
height: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  th {
    background-color: #2196F3;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
    transition: transform 0.3s ease;
  }
  
  tr:hover {
    transform: scale(1.01); 
  }
 
  tr:hover td {
    background-color: rgba(255, 255, 255, 1);
    color: #1462a6;
  }
  
  
  

.add-btn button {
    text-align: right;
    border-radius: 25px;
    border: 2px solid #000000; /* Cambiamos el color del borde a negro */
    background-color: #2196F3;
    padding: 20px;
    float: right;
    margin-bottom: 15px;
    margin: 25px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5); /* Agregamos sombreado al botón */
}
.edit-btn, .delete-btn {
padding: 4px 8px;
background-color: #4CAF50;
color: #fff;
border: none;
cursor: pointer;
border-radius: 4px;
}

.edit-btn {
background-color: #2196F3;
margin-right: 5px;
}

.delete-btn {
background-color: #f44336;
}
#btn-menu {
        display: none;
    }
    .container-menu {
        position:fixed;
        background: rgba(0, 0, 0, 0.5);
        height: 12vh;
        top: 0;
        left: 0;
        transition: all 00ms ease;
        opacity: 0;
        visibility: hidden;
    }

    #btn-menu:checked ~ .container-menu {
        opacity: 1;
        visibility: visible;
    }

    .lego {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lego img {
        height: 100px;
    }

    .btn-menu h3 {
        text-align: left;
        display: flex;
    }

    .cont-menu {
        margin-top: 100px;
        background-color: #1462a6;
        width: 102%;
        max-width: 270px;
        height: 120vh;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }

    #btn-menu:checked ~ .container-menu .cont-menu {
        transform: translateX(0%);
    }

    .cont-menu nav {
        transform: translateY(15%);
    }

    .cont-menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #000;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
    }

    .cont-menu nav a:hover {
        border-left: 5px solid #c7c7c7;
        background: #fff;
    }

    .cont-menu label {
        position: absolute;
        right: 5px;
        top: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
    }
    .confirmation-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000000;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        display: none;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .confirmation-message.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .confirmation-message p {
        margin: 20px;
    }

    .confirmation-message h2 {
        margin: 0px;
    }

    .confirmation-buttons {
        display: flex;
        margin-top: 10px;
    }

    .confirmation-buttons button {
        padding: 5px 10px;
        margin: 5px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
    }


    .cancel-button {
    background-color: #e74c3c;
    color: #fff;
    }

    .accept-button {
    background-color: #2ecc71;
    color: #fff;
    }

    .confirmation-buttons button:hover {
    opacity: 0.8;
    }

    #chart-container {
    width: 200px;
    height: 100px;
    margin-left: 20px; /* Margen izquierdo de 20px */
    position: relative;
    display: flex;
    justify-content: left;
    left: 0; /* Eliminamos la modificación anterior */
}

.chart-text {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #1462a6;
}

.chart-text span {
    display: block;
    font-size: 36px;
    color: #000;
}

h2 {
    text-align: left;
    margin-left: 20px; /* Margen izquierdo de 20px */
}
